---
import type { InferGetStaticParamsType, GetStaticPaths } from "astro";
// Data
import components, { parentDetails } from "@/data/components";
// Components
import Layout from "@/layouts/Layout.astro";
import Section from "@/components/layout/Section";
import SectionHeading from "@/components/layout/SectionHeading";
import ComponentCard from "@/components/cards/ComponentCard";

export const getStaticPaths = (async () => {
  return components.map((component) => ({
    params: {
      parent: component.parent,
    },
  }));
}) satisfies GetStaticPaths;

type Params = InferGetStaticParamsType<typeof getStaticPaths>;

const { parent } = Astro.params as Params;
---

<Layout
  meta={{
    title: parentDetails[parent].title,
  }}
  hero={{
    title: parentDetails[parent].title,
    breadcrumbs: [
      {
        label: parentDetails[parent].title,
        href: `/${parent}`,
      },
    ],
  }}
>
  <Section>
    <SectionHeading
      title="Components"
      description={parentDetails[parent].description}
    />
    <ul class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2.5">
      {
        components
          .filter((component) => component.parent === parent)
          .map((component) => <ComponentCard component={component} />)
      }
    </ul>
  </Section>
</Layout>
