---
interface Props {
  sections: {
    id: string;
    label: string;
  }[];
}

const { sections } = Astro.props;
---

<nav class="bg-ui-accent-1 bg-opacity-80">
  <ul class="ui__wrapper flex h-10 items-center gap-5">
    {
      sections.map((section) => (
        <li>
          <a href={`#${section.id}`} class="h-full text-white font-medium">
            {section.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
