---
import Layout from "src/layouts/Layout.astro";
// Components
import Section from "src/components/layout/Section.tsx";
---

<Layout
  meta={{
    title: "Dev Checklist",
  }}
  hero={{
    title: "Dev Checklist",
    breadcrumbs: [
      {
        label: "Dev Checklist",
        href: "/dev-checklist",
      },
    ],
  }}
>
  <Section>
    Non elit reprehenderit tempor cupidatat ad consequat. Velit esse mollit
    voluptate cillum nisi. Minim labore duis occaecat cupidatat pariatur
    exercitation aliqua est. Consectetur laborum esse ullamco sint anim nisi
    aute duis reprehenderit non tempor cupidatat aliquip. Aute eiusmod sint do
    et incididunt in nostrud pariatur in magna ea veniam. Consequat exercitation
    sunt minim elit nostrud duis tempor minim mollit ex mollit id qui commodo.
    Reprehenderit dolor duis ullamco velit dolor in cillum excepteur aliqua est
    reprehenderit est sunt et. Eu qui sit nisi reprehenderit exercitation in
    tempor nulla fugiat ipsum anim. Exercitation cillum ipsum elit nostrud.
    Culpa nulla voluptate fugiat officia. Sit cillum id velit labore voluptate
    aliqua mollit sunt et veniam. Dolore laboris sit aliqua mollit consequat
    nulla est est occaecat nulla Lorem. Anim do exercitation eiusmod minim
    pariatur labore. Excepteur laboris esse laborum elit dolor ipsum occaecat
    veniam laborum.
  </Section>
</Layout>
