---
import Layout from "@/layouts/Layout.astro";
// Components
import Section from "@/components/layout/Section.astro";
import SectionHeading from "@/components/layout/SectionHeading.astro";
import Grid from "@/components/layout/Grid.astro";
import LinkImageCard from "@/components/cards/LinkImageCard.astro";
---

<Layout
  meta={{
    title: "Homepage",
  }}
  hero={{
    title: "Proto Digital",
    description:
      "Browse and consume our collection of bricks, partials and layouts.",
    links: [
      {
        label: "Getting Started",
        href: "/getting-started",
      },
    ],
  }}
>
  <Section>
    <SectionHeading title="Quick Links" description="" />
    <Grid>
      <LinkImageCard
        href="/getting-started"
        title="Getting Started"
        description="Learn how to get started with Proto UI and its supporting libraries and tools."
      />
      <LinkImageCard
        href="/dev-checklist"
        title="Dev Checklist"
        description="A checklist to follow when developing websites, this covers design through to development and deployment."
      />
      <LinkImageCard
        href="/resources"
        title="Resources"
        description="A list of internal and external resources that we use to design, develop and test websites."
      />
    </Grid>
  </Section>
  <Section>
    <SectionHeading
      title="Libraries & Tools"
      description="Learn about the libraries and tools used to create and use alongside the Proto UI components."
    />
    <Grid>
      <LinkImageCard
        href="/proto-headless"
        title="Proto Headless"
        description="A modern headless CMS offering a delightful developer experience. Tailor Proto Headless seamlessly to your client and frontend requirements with our expressive brick, collection, and form builders. "
      />
      <LinkImageCard
        href="/proto-web-components"
        title="Proto Web Components"
        description="A collection of web components that can be used in any web project. Where possible, these components are progressive enhanced with JavaScript to provide a delightful user experience."
      />
      <LinkImageCard
        href="/proto-primitives"
        title="Proto Primitives"
        description="A collection of web primitive libraries that aim to provide tools to help you build accessible, performant, and resilient websites."
      />
    </Grid>
  </Section>
  <Section>
    <SectionHeading
      title="Components"
      description="View the components that make up Proto UI."
    />
    <Grid>
      <LinkImageCard
        href="/bricks"
        title="Bricks"
        description="View our extensive list of bricks, that we use as a starting point for building performant and accessible websites."
      />
      <LinkImageCard
        href="/partials"
        title="Partials"
        description="A collection of partial components that are used to build bricks and layouts."
      />
      <LinkImageCard
        href="/layouts"
        title="Layouts"
        description="Here you can find pre-built layouts for a variety of different page types."
      />
    </Grid>
  </Section>
</Layout>
