---
interface Props {
    classes: string
}

const { classes } = Astro.props
---

<div class={"w-full relative after:block after:content[''] after:pb-[56.25%] " + classes}>
    <div class="absolute inset-0">
        <slot />
    </div>
</div>