---
interface Props {
  label: string;
  href: string;
}

const { label, href } = Astro.props;
---

<a
  href={href}
  class="flex h-10 px-5 bg-white items-center rounded-md font-semibold text-sm hover:bg-ui-background hover:text-ui-background-text transition-colors duration-200 shadow-sm"
>
  {label}
</a>
