---

interface Props {
    title: string;
    description: string;
}

const { title, description } = Astro.props
---

    <section>
    <h2>{title}</h2>
    <p>{description}</p>
    <a href="#" class="button">Call to action</a>
</section>
