---
import "../styles/tailwind.css";
// Components
import { ViewTransitions } from "astro:transitions";
import Navigation from "../components/Navigation.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class="antialiased bg-ui-background">
    <main>
      <Navigation />
      <div class="p-5 bg-white mt-5 mr-5 ml-[300px] min-h-screen rounded-t-md">
        <slot />
      </div>
    </main>
    <script src="../typescript/main.ts"></script>
  </body>
</html>
